.task-instances {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-task-button {
  position: fixed;
  bottom: 10%;
  right: 10%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid var(--color-quaternary);
  background-color: var(--color-primary);
}

.new-task-button > img {
  width: 20px;
}
